.formcrd{
    width: 70vw;
    margin-left: 14%;
    margin-top: 3%;
    box-shadow: 0 0 9px gray;
}
input:hover{
    box-shadow: 0 0 9px cyan;

}
select:hover{
    box-shadow: 0 0 9px cyan;

}
textarea:hover{
    box-shadow: 0 0 9px cyan;

}
@media only screen and (min-width:320px) and (max-width:480px) {
    .formcrd{
        width: 98vw;
        margin-left: 1%;
    }

}
.subbtn{
    text-align: center !important;
}
.mndrybtch::before{
    content: '*';
    color: red;
    /* font-size: 1.2rem; */
    
}